body {
    margin: 0;
    padding: 0;
    width: auto;
}

.navegation {
    background-color: aqua;
    text-align: center;
}

main {
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 6fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        'header-area header-area header-area header-area'
        'sidebar-area main-area main-area main-area'
        'footer-area footer-area footer-area footer-area';
}

.sidebar {
    background-color: blueviolet;
}

.items img {
    width: 200px;
    height:
}

.items {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.product {
    background-color: green;
    display: flex;
    flex-direction: column;
}

button{
        background-color: blue;
    color: white;
}

footer {
    background-color: aqua;
    text-align: center;
}